doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title signup
    link(rel='stylesheet', href='../static/style3.css')
  body
    nav
      h1 COLLEGE WORLD
    form(action="/signup",method="post")
      //- .alert.alert-danger(role='alert')
      //-   | YOU ALREADY SIGNED UP!!
      .inpu
        h1 SIGN UP
        input.form(type='text', name='name', required='', placeholder='enter a username')
        input.form(type='email', name='email', required='', placeholder='enter your email address')
        input.form(type='number', name='phone', required='', placeholder='enter your mobile number ')
        input.form(type='password', name='password', required='', placeholder='set a strong password') 
        input.a(type='submit')
      
    script(src='#')