doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title signin
    link(rel='stylesheet', href='../static/style2.css')
  body
    nav
      h1 COLLEGE WORLD
    form
      .inpu
        h1 SIGN IN
        input.form(type='text', name='name', required='', placeholder='enter username')
        input.form(type='email', name='email', required='', placeholder='enter your email')
        input.form(type='password', name='password', required='', placeholder='enter your password')
        input.a(type='submit')